# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "37d48ce4e61b6d8339f8f98342802ede"
name = "images-creator"
application_url = "https://images-creator.fly.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://images-creator.fly.dev/auth/callback",
  "https://images-creator.fly.dev/auth/shopify/callback",
  "https://images-creator.fly.dev/api/auth/callback"
]
